<!DOCTYPE html>
<html
<html xmlns= "http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add new</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
    <script src="../static/js/jquery-2.1.4_min.js" th:src="@{/static/js/jquery-2.1.4_min.js}"></script>
    <script src="../static/js/bootstrap.min.js" th:src="@{/static/js/bootstrap.min.js}"></script>
    <link rel="stylesheet" href = "../../static/css/style.css">
</head>
<body>

<div class="container">
    <form class="form-horizontal" th:action="@{/save}" name="edit_form" id="edit_form"
          method="post" role="form">

        <div class="form-group">
            <input type="text" required  id="art_fullName" th:name="art_fullName" placeholder="Введите имя художника" maxlength="256"/>
           <hr>
            <input type="text" required  id="art_link" th:name="art_link" placeholder="Введите ссылку на репозиторий" maxlength="256"/>
           <hr>
            <input type="text" required  id="art_genre" th:name="art_genre" placeholder="Введите направление работы" maxlength="256"/>

        </div>
        <button type="submit" class="btn btn-primary">Добавить</button>
    </form>
</div>

</body>
</html>